.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
  height: 90vh;

  .about_title_box {
    .about_title {
      font-family: "Black Han Sans";
      font-size: 35px;
      display: inline-block;
      vertical-align: middle;
    }

    .about_title_dash {
      border: 2px solid #48a5ff;
      border-radius: 3px;
      width: 930px;
      display: inline-block;
      vertical-align: middle;

      transition: all 3s;

      margin-left: 40px;
    }
  }

  .about_content_box {
    padding: 30px;
    display: flex;
    flex-direction: row;

    color: #707070;

    transition-delay: 1.8s;
    transition-duration: 2s;

    img {
      height: 180px;
      border-radius: 1000px;
      margin-right: -20px;

      vertical-align: middle;
    }

    .about_profile_box,
    .about_license_box {
      margin-left: 70px;
      vertical-align: middle;
    }

    .profile_title,
    .license_title {
      font-family: "Black Han Sans";
      font-size: 25px;
    }

    .profile_content_box,
    .profile_license_box {
      margin-top: 15px;
      font-size: 23px;
      font-family: "배달의민족 주아";
    }

    .profile_label,
    .license_label {
      font-size: 20px;
      margin-right: 25px;
    }
  }
}
