.intro_container {
  background-image: url("../img/intro_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 420px;
    border-radius: 10px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.589);

    span {
      color: red;
    }
  }
}

#about {
  visibility: hidden;
}

.about_container {
  text-align: center;
  padding: 20px;
  padding-top: 20px;

  h1 {
    font-weight: bolder;
  }

  a {
    visibility: hidden;
  }

  .about_box {
    text-align: center;
    margin: 10px;

    .about_content {
      border-radius: 10px;
      // box-shadow: 3px 3px 3px rgb(190, 190, 190);
      padding: 10px;
      margin: 5px;
      display: inline-block;
      width: 300px;
      text-align: left;

      img {
        margin-right: 10px;
        vertical-align: middle;
      }

      .about_text_box {
        display: inline-block;
        vertical-align: middle;

        .about_title {
          font-weight: bold;
          font-size: 20px;
        }

        .about_value {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.skills_container {
  padding: 20px;
  text-align: center;
  background-color: salmon;

  #archive {
    visibility: hidden;
  }

  h1 {
    color: white;
  }

  .skills_box {
    text-align: center;

    .skills_content_box {
      display: inline-block;
      vertical-align: top;

      .skills_title {
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
        padding-top: 10px;
        box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.61);
      }
    }
  }
}

.mobile_skills_container {
  padding: 20px;
  text-align: center;
  background-color: salmon;

  #archive {
    visibility: hidden;
  }

  h1 {
    color: white;
  }

  .skills_box {
    text-align: center;
    width: 100%;

    .skills_content_box {
      display: inline-block;
      vertical-align: top;

      .skills_title {
        background-color: white;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px;
        padding-top: 10px;
        box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.61);
      }
    }
  }
}

.archive_container {
  padding: 20px;
  text-align: center;
  background-color: rgb(66, 66, 66);

  #projects {
    visibility: hidden;
  }

  h1 {
    color: white;
  }

  .archive_box {
    .archive_content_box {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      width: 450px;
      height: 300px;
      display: inline-block;
      margin: 30px;
      vertical-align: middle;

      a {
        display: block;
        margin-top: 10px;
      }

      ul {
        text-align: left;
      }
    }
  }
}

.mobile_archive_container {
  padding: 20px;
  text-align: center;
  background-color: rgb(66, 66, 66);

  #projects {
    visibility: hidden;
  }

  h1 {
    color: white;
  }

  .archive_box {
    .archive_content_box {
      background-color: white;
      border-radius: 10px;
      padding-top: 10px;
      margin-bottom: 30px;
      width: 100%;
      height: 300px;
      display: inline-block;
      vertical-align: middle;

      a {
        display: block;
        margin-top: 10px;
      }

      ul {
        text-align: left;
      }
    }
  }
}

.projects_container {
  padding: 20px;
  text-align: center;
  background-color: deepskyblue;

  h1 {
    color: white;
  }

  .projects_box {
    text-align: center;
    a {
      display: block;
      img {
        border-radius: 10px;
        box-shadow: 3px 3px 3px gray;
      }
    }
  }
}

.mobile_projects_container {
  padding: 20px;
  text-align: center;
  background-color: deepskyblue;

  h1 {
    color: white;
  }

  .projects_box {
    text-align: center;
    a {
      display: block;
      img {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px gray;
      }
    }
  }
}
