.original_nav {
  position: fixed;
  width: 100%;

  ul {
    display: flex;
    list-style: none;
    width: 1150px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    text-align: center;
    margin: auto;

    a {
      flex: 1;
      text-decoration: none;
      color: black;
    }

    .logo {
      flex: 6;
      font-size: 25px;
      font-weight: bold;
      vertical-align: middle;
    }

    li {
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }

    li:hover {
      color: tomato;
    }
  }
}

.change_nav {
  position: fixed;
  width: 100%;
  background-color: white;

  ul {
    display: flex;
    list-style: none;
    width: 1150px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    text-align: center;
    margin: auto;

    a {
      flex: 1;
      text-decoration: none;
      color: black;
    }

    .logo {
      flex: 6;
      font-size: 25px;
      font-weight: bold;
      vertical-align: middle;
    }

    li {
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }

    li:hover {
      color: tomato;
    }
  }
}

.mobile_nav {
  position: fixed;
  background-color: rgba(240, 248, 255, 0.925);
  // background-color: rgba(255, 255, 255, 0.925);
  width: 100%;

  .mobile_nav_box {
    padding: 17px;
    padding-right: 10px;
    list-style: none;
    vertical-align: middle;

    .intro_logo {
      font-weight: bolder;
      font-size: 26px;
      display: inline-block;
      text-decoration: none;
      color: black;
      vertical-align: middle;
    }

    .mobile_nav_toggle {
      cursor: pointer;
      float: right;
      vertical-align: middle;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 5px;
      flex-direction: column;
      text-align: center;

      a {
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
        color: black;
        margin: 5px;
        padding: 3px;

        li {
          display: inline-block;
          margin-left: 7px;
        }
      }

      a :hover {
        color: tomato;
      }
    }
  }
}
